<h1>Please select a number : </h1>
<br/>
<br/>
{{message}}
<br/>
<br/>
<br/>
<br/>
<button class="btn btn-danger" (click)="buttonClicked(1)">1</button>&NonBreakingSpace;
<button class="btn btn-danger" (click)="buttonClicked(2)">2</button>&NonBreakingSpace;
<button class="btn btn-danger" (click)="buttonClicked(3)">3</button>&NonBreakingSpace;
<button class="btn btn-danger" (click)="buttonClicked(4)">4</button>&NonBreakingSpace;
<button class="btn btn-danger" (click)="buttonClicked(5)">5</button>&NonBreakingSpace;